@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body 
{
    min-height: 100vh;
    overflow-x: hidden;
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}
header
{   padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo
{   
    color: #7597de;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a {
    color:#7597de;
    font-weight: bold;
    text-decoration: none;
}

p {
    color: #7597de;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;

}

input {

    margin: 8px 0;
    padding: 8px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    border-radius: 10px;
}

button {
    
    width: 200px;
    padding: 8px;
    background:  #e3e3e3;
    border: unset;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.1em;
    margin: 8px auto;
    
}

.error {
    border-bottom: 2px solid #ff4332;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.none {
    display: none;
}

.logout {
    color: #b7625c;
}
.label
{
    color: #7597de;
}
.input__wrapper {
    width: 100%;
    position: relative;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input__file-button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    background: #1bbc9b;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px auto;
}
