{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Авторизация та реєстрація</title>
        <link rel="stylesheet" href="{% static 'css/main.css'%}" />
        <link
            rel="icon"
            type="image/x-icon"
            href="{% static 'images/ukrain.ico'%}"
        />
    </head>
    <body>
        <header>
            <a class="logo" href="{% url 'home' %}">GO TO ANIME</a>
        </header>
        <form>
            <input type="text" name="full_name" placeholder="Повне ім'я" />
            <input type="text" name="login" placeholder="Логін" />
            <input type="email" name="email" placeholder="Електрона пошта" />
            <label class="label">Зображення профілю</label>
            <div class="input__wrapper">
                <input
                    name="file"
                    type="file"
                    id="input__file"
                    class="input input__file"
                    multiple
                />
                <label for="input__file" class="input__file-button">
                    <span class="input__file-icon-wrapper"
                        ><img
                            class="input__file-icon"
                            src="{% static 'images/download.png'%}"
                            width="25"
                    /></span>
                    <span class="input__file-button-text">Виберіть файл</span>
                </label>
            </div>
            <input type="password" name="password" placeholder="Пароль" />
            <input
                type="password"
                name="password_confirm"
                placeholder="Пітвердження пароля"
            />
            <button type="submit" class="register-btn">Зареєструйтесь</button>
            <p>
                Ви маєте обліковий запис? -
                <a href="{% url 'login' %}"> Скористайтеся ним ;)</a>
            </p>
        </form>
    </body>
</html>
