<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="static/css/grid.css">	
</head>
<body>
<!-- Сітка карток аніме -->
<div class="cards">
	<!-- Картка аніме -->
	<div id="card1"></div>
	<div id="card2"></div>
	<div id="card3"></div>
	<div id="card4"></div>
</div>
<script>
	// Імпорт файлів HTML картки
	fetch('/card.html')
	.then(response => response.text())
	.then(data => {
		// Вставте HTML першої картки в перший елемент <div>
		document.getElementById('card1').innerHTML = data;
	});

	fetch('/card.html')
	.then(response => response.text())
	.then(data => {
		// Вставте другу картку HTML у другий елемент <div>
		document.getElementById('card2').innerHTML = data;
	});


	fetch('/card.html')
	.then(response => response.text())
	.then(data => {
		// Вставте другу картку HTML у другий елемент <div>
		document.getElementById('card3').innerHTML = data;
	});
	
	fetch('/card.html')
	.then(response => response.text())
	.then(data => {
		// Вставте другу картку HTML у другий елемент <div>
		document.getElementById('card4').innerHTML = data;
	});
</script>
</body>
</html>